<div class="container">
  <div class="product-results">
    <h4>Product results: {{ totalItems }}</h4>
    <p>You searched for: {{ filterText }}</p>
  </div>

  <div id="product-list">
    <div id="product-list">
      <div class="row">
        <div class="col-4" *ngFor="let product of filteredProducts">
          <div class="card">
            <div class="product-title">
              {{ product.title }}
            </div>
            <div class="product-image">
              <img src="{{ product.images[0] }}" />
            </div>

            <div class="product-description">
              {{ product.description }}
              {{ product.price }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
