/* You can add global styles to this file, and also import other style files */
body{
	// background: linear-gradient(to bottom, #023857, #4b99c6, #023857);
	background:#fff;
}

.text-white{
	color:#fff;
}

.align-items-middle{
	align-items:middle;
}